@page "/"

@using RomanianVioletRollsRoyce.Web.Clients
@inject ICustomersClient CustomersClient

<h1>Customer account data</h1>

<div>
    <button class="btn btn-primary" @onclick="GetCustomerAccountData">Refresh</button>
</div>

@if (_customerAccountDataResponse == null)
{
    <p><em>Loading...</em></p>
}
else
{
    @if (_customerAccountDataResponse.Success)
    {
        <table class="table">
            <thead>
                <tr>
                    <th>Name</th>
                    <th>Surname</th>
                    <th>Balance</th>
                    <th>Transactions</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var customerAccountData in _customerAccountDataResponse.Data)
                {
                    <tr>
                        <td>@customerAccountData.Name</td>
                        <td>@customerAccountData.Surname</td>
                        <td>@customerAccountData.Balance</td>
                        <td>
                            @if (customerAccountData.Transactions.Any())
                            {
                                <table>
                                    <thead>
                                        <tr>
                                            <th>Date/time</th>
                                            <th>Amount</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        @foreach (var transaction in customerAccountData.Transactions)
                                        {
                                            <tr>
                                                <td>@transaction.DateTime.ToShortDateString() @transaction.DateTime.ToShortTimeString()</td>
                                                <td>@transaction.Amount</td>
                                            </tr>
                                        }
                                    </tbody>
                                </table>
                            }
                            else
                            {
                                <p>None</p>
                            }
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    }
    else
    {
        <p>@_customerAccountDataResponse.ErrorMessage</p>
    }
}

@code {
    CustomerAccountDataResponse _customerAccountDataResponse;

    protected override async Task OnInitializedAsync() => await GetCustomerAccountData();

    private async Task GetCustomerAccountData()
    {
        _customerAccountDataResponse = await CustomersClient.GetCustomerAccountData();
    }
}